.CastList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15px;
    text-align: center;
  
    &-img {
      width: 200px;
    }

    &-item {
      margin-bottom: 20px;
      background-color: #777777;
      color: #f1f1f1;
    }

    &-title {
      width: 200px;
      margin: 0;
    }
  
    &-text {
      width: 200px;
      margin: 0;
    }
  }