body {
  background-color: #f1f1f1;
  height: 100%;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  background-color: #c3c3c3;
}

.Logo {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  top: 0;
  z-index: 5;
  border: none;
  color: #ffffff;
  background-color: #CB2400;
  height: 50px;
  min-width: 150px;
  font-weight: bold;
  font-size: 22px;
}

.Content {
  padding: 10px;
}

.Content-title {
  color: #333333;
  text-transform: uppercase;
}
