body {
  background-color: #c3c3c3;
}

// Menu
.menu-list {
  display: flex;
  align-items: center;
  list-style: none;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #777;
  margin: 0;

  &__item {
    text-align: center;
    padding: 15px;
  }

  &__link {
    color: #f2f2f2;
    text-decoration: none;
    padding: 15px;
  }
}

.menu-active {
  background-color: #333;
}

.Genres-list {
  display: flex;
  list-style: none;
  padding: 0;

  &__item {
    padding-right: 10px;
  }
}

// MovieDetails
.MovieDetails {
  display: flex;
  background-color: #333;
  color: #ffffff;

  &__desc {
    
  }

  &__img {
    width: 300px;
    padding: 15px;
  }
}

.Content {
  padding: 50px 15px;
}

// Additional info
.additional {
  padding: 15px;
  background-color: #c3c3c3;

  &-list {
    display: flex;
    list-style: none;
    padding: 0 15px;
  }

  &-title {
    padding: 0 15px;
  }

  &-list__item {
    padding-right: 10px;
  }

  &-list__link {
    text-decoration: none;
    color: #222;
  }

  &-list__active {
    font-weight: bold;
    border-bottom: 2px solid #333;
  }
}
