.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;

  &-item {
    list-style: none;
    font-weight: bold;
    margin-bottom: 15px;

    &__link {
      display: block;
      text-decoration: none;
      color: #333333;
      max-width: 200px;
      overflow: hidden;
      text-align: center;
    }
  }

  &-img {
    display: block;
    width: 200px;
    margin-bottom: 15px;
  }
}
