.SearchForm {
  display: flex;
  align-items: center;
  padding: 15px 0;

  &-input {
    height: 45px;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &-button {
    min-width: 100px;
    height: 45px;
    cursor: pointer;
    background-color: #999999;
    margin-left: 15px;
    border: none;

    &:hover {
      background-color: #888888;
    }

    &-label {
      color: #222222;
      font-weight: bold;
    }
  }
}
